!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Hello
    %p
      Have a look at report for admins csv.

    %p Have a great day!